// Define variables for your color scheme

// couleurs theme:
$deep-blue: #3D5A80;
$light-blue: #E0FBFC;
$orange: #EE6C4D;
$white: #FFF6F4;
$black: #293241;
$green: #80ed99;
$yellow: #f8961e;
$red: #d90429;
