// Specific CSS for your home-page
.fold{
  padding-top:10%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#fold-title{
  font-size: 100px;
  color: $white;
}
h1{
  font-size: 10px;
  color: $deep-blue;
}
h2{
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  margin-bottom: 0px;
  margin-top: 10px;
}
p{
  font-size: 18px;
  opacity: 0.7;
  font-weight: lighter;
  margin-bottom: 0px;
}
.bg-main{
  height: 60vh;
  background-image: url("https://i.pinimg.com/originals/e9/26/3b/e9263b20b8a2f837f11bdf02caa22d37.jpg");
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.ship-img{
  height: 200px;
  width: 350px;
  margin-bottom: 5px;
}
.no-return{
  flex-wrap: nowrap !important;
}
