a{
  text-decoration: none;
  color: $deep-blue;
  &:hover{
    text-decoration: none;
    color: $deep-blue;
  }
}

.title-index{
  font-size: 35px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.search-form-wrapper {
  width: 500px;
  margin: 0 auto;
}

.search-form {
  width: 400px;
  margin: 20px;
}