a{
  text-decoration: none;
  color: $deep-blue;
  &:hover{
    text-decoration: none;
    color: $deep-blue;
  }
}

.title-index{
  font-size: 35px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.search-form-wrapper {
  width: 100%;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.style-form-input {
  margin: 10px;
  background-color: #ECECEC;
  border: none;
  padding: 15px;
  padding-left: 15px;
  color: #AEAEAE;
  border-radius: 50px;
  padding-left: 25px;
}

.search-form-field {
margin: 10px;
border: none;
padding: 15px;
padding-left: 15px;
border-radius: 50px;
padding-left: 25px;
}

#card-index {
  // margin: 15px;
}

