a{
  text-decoration: none;
  color: $deep-blue;
  &:hover{
    text-decoration: none;
    color: $deep-blue;
  }
}

.title-index{
  font-size: 35px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#card-index {
  margin: 5px;
}

#cards-index {
  justify-content: flex-start;
}

