.container-first{
  display: flex;
  justify-content: fex-start;
}
.container-third{
  display: flex;
  justify-content: center;
}
.item{
  display: flex;
  align-items: center;
}
.fas{
  margin-right: 5px;
}
.ship-img-show{
  height: 350px;
  right: 0;
}
