<div class="bg-main">
  <div class="fold">
    <h1 id="fold-title">Time to set the Sails</h1>
    <a class="button" href="../ships">Navigate</a>
  </div>
</div>
<div class="margin-20">
  <div class="cards no-return">
    <% @ships.each do |ship| %>
      <div class="">
        <div class="card" style="">
          <div>
            <img class="ship-img" src="https://source.unsplash.com/1600x900/?boat,yacht" alt="ship image">
          </div>
          <div class="card-description">
            <h2><%= ship.name %></h2>
            <p><%= ship.description %></p>
          </div>
          <%#= link_to "", ship_path(ship), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
