.button{
  color: white;
  text-decoration: none;
  background-color: $orange;
  padding: 20px 40px;
  font-size: 15px;
  font-weight: 900;
  border-radius: 5px;

}
.button:hover {
  text-decoration: none;
  color: white;
}
