// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/_button";
@import "components/_card";
@import "pages/_booking-form";

.full-page-size{
  min-width: 100vh;
  margin-top: 100px;
  margin-bottom: 100px;
}

.margin-20{
  margin-left: 20%;
  margin-right: 20%;
  repeat: no-repeat;
  position: center;
  size: cover;
}
